@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
body{
    background-color: #111926;
    color: white;
    font-family: 'caveat';
    font-size: 26px;
    margin: 0px;
}

.center{
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}

header{
    background-color: #223040;
    padding: 20px 0px;
}

header div.center{
    display: flex;
    justify-content: space-between;
}

header a{
    color: white;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    display: inline-block;
}

header a.nav-link.active{
    text-decoration: underline;
}

a.social-link svg{
    fill: white;
    height: 30px;
}

header nav{
display: flex;
}

header nav a{
    padding: 0 10px;
}

div.intro{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    
}

div.intro img{
    width: 200px;
    border-radius: 100px;
    border: 5px solid black;
    margin-top: 20px;
}

div.intro p{
    margin: 0px;
    align-self: center;
}

div.h1{
    background-color: #223040;
}

h1{
    margin: 0px;
    padding-top: 70px;
    font-size: 50px;
    line-height: 40px;
}

footer{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    border-top: 1px solid white;
    padding: 50px 0;
}

footer a{
    text-decoration: none;
}

footer p{
    margin: 0px;
    align-self: center;
}

div.contact{
    text-align: left;
    padding: 50px 0px;
    font-size: 26px;
}

div.contact a{
    text-decoration: none;
    color: white;
    border: 2px solid aqua;
    border-radius: 50px;
    background-color: grey;
    font-size: 20;
}

div.projects{
    padding: 50px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

div.project img{
    max-width: 100%;
    border-radius: 100px;
    border: 5px solid black;
}

div.project h2{
    text-align: center;
}

.googleform{
    color: white;
    text-decoration: none;
    border: 2px solid aqua;
    border-radius: 100px;
    padding: 20px;
    background-color: grey;
}

.googleform:hover{
    color: aqua;
    background-color: #223040;
}

.logo{
    width: 125px;
    margin: 0 0;
    padding: 0 0;
}

@media (max-width: 600px){
    .googleform{
        color: white;
        text-decoration: none;
        border: 2px solid aqua;
        border-radius: 100px;
        padding: 10px;
        background-color: grey;
    }

    header a{
        color: white;
        text-decoration: none;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        font-size: 17px;
    }

    div.intro img{
        width: 40%;
        border-radius: 100px;
        border: 5px solid black;
        margin-top: 20px;
        height: 20%;
    }

}

@media (min-width: 601px){
    .googleform{
        color: white;
        text-decoration: none;
        border: 2px solid aqua;
        border-radius: 100px;
        padding: 10px;
        background-color: grey;
    }

    header a{
        color: white;
        text-decoration: none;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        font-size: 26px;
    }

    div.intro img{
        width: 40%;
        border-radius: 100px;
        border: 5px solid black;
        margin-top: 20px;
        height: 20%;
    }

}

@media (max-width: 400px){
    .googleform{
        color: white;
        text-decoration: none;
        border: 2px solid aqua;
        border-radius: 100px;
        padding: 7px;
        background-color: grey;
    }

    header a{
        color: white;
        text-decoration: none;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        font-size: 15px;
        width: 25px;
    }

    a.social-link svg{
        fill: white;
        height: 25px;
        width: 25px;
    }
}